body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    padding: 5px 80px;
    color: #97969C;
    font-weight: bold;
}

header img {
    
}


header nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 8;
}



.nav-left, .nav-right {
    display: inline;
}

.nav-left {
    align-self: center;
}


header nav ul li {
    display: inline-block;
    padding: 5px 12px;
}

header nav ul li button {
    background-color: #30CED1;
    color: #ffffff;
    padding: 8px 20px;
    border: none;
    border-radius: 16px;
    font-weight: bold;   
}

/* Hero Start */
.hero {
    display: flex;
    padding: 5px 80px;
    margin: 5% 0;
}

.hero .hero-left {
    flex-grow: 3;
    padding-right:  20px;
}

.hero .hero-right {
    flex-grow: 5;
    padding-left: 20px;
} 

.hero-left h2 {
    color: #33313B;
    font-size: 55px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
}

.hero-left p {
    color: #A4A3A7;
    font-size: 20px;
    margin-top: 0px;
    line-height: 1.5;
}

.hero-left button {
    background-color: #30CED1;
    color: #ffffff;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    font-weight: bold; 
    font-size: 18px;
}

.url-form {
    background-image: url(../images/bg-boost-desktop.svg);
    background-color: #4B406B;
    padding: 10px 20px;
    width: 85%;
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    left: 5%;
    bottom: -36%;
}

.url-form form {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0px;
}

.url-form input {
    width: 70%;
    padding: 20px 15px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    color: #A4A3A7;
}

.url-form button {
    background-color: #30CED1;
    color: #ffffff;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold; 
    font-size: medium;
}

/* Advanced Stats Start */

.adv-stats {
    background-color: #F0F1F6;
    padding: 10% 0px;
}
.adv-stats h2 {
    text-align: center;
    font-size: 30px;
    color: #33313B;
}

.adv-stats-p {
    color: #A4A3A7;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
}

.flex-container-stats {
    display: flex;
    padding: 5px 80px;
    
}

.flex-item-stats {
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    position: relative;
    height: fit-content;
}

.flex-item-stats .icons {
    background-color: #3A3054;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    top: -45px;
}

/* Boost your link */

.boost-link {
    background-color: #4B406B;
    padding: 4% 0px;
    display: flex;
    flex-direction: column;
}

.boost-link h2{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin-top: 0;
}

.boost-link button {
    background-color: #30CED1;
    color: #ffffff;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    font-weight: bold; 
    font-size: 18px;
    margin: 0 auto;
}

/*Footer styles */

footer {
    
    background-color: #232027;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
}

footer .logo-text {
    font-weight: bold;;
    flex-grow: 1;
    color: #FFFDFD;
    align-items: flex-start;
}

.footer-items {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 2;
}

footer ul {
    list-style: none;
}

footer ul li:first-child {
    font-weight: bold;
    color: #FFFDFD;
    margin-bottom: 15px;
}

footer ul li {
    color: #9A989D;
    font-size: 13px;
    padding-bottom: 10px;
}

.footer .social-media-icons{
}
.social-media-icons ul{
    display: flex;
    justify-content: flex-end;
}

.social-media-icons ul li {
    padding: 0px 10px;
}




